.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid; //can use flexbox ,but will apply margin right instead of gap
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    display: block;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.1);
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-top: 6rem;
  text-align: center;
}
